crawlee>=1.6.0
beautifulsoup4>=4.12.0
httpx>=0.28.0
loguru>=0.7.0
pdfplumber>=0.11.0
pymupdf>=1.24.0
pillow>=10.4.0
numpy>=1.26.0
pytesseract>=0.3.10
python-dotenv>=1.0.1
langchain-core>=0.3.83
langchain-community>=0.3.0
langchain-huggingface>=0.1.0
langchain-text-splitters>=0.3.0
langchain-ollama>=0.2.0
langchain-chroma>=0.2.0
chromadb>=0.5.0
sentence-transformers>=3.0.0
torch>=2.6
streamlit>=1.36.0
yt-dlp>=2024.1.1
youtube-transcript-api>=0.6.0
openai-whisper>=20231117
tqdm>=4.66.0
